
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@*Veri tabanından çektiğimiz verileri Exel dosyasına yansıttık*@
<h1>BlogTitleListExcel</h1>

<a href="/Admin/Blog/ExportDynamicExelBlogList" class="btn btn-primary">Dowload Exel List</a>
