
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax işlemleri</h1>
<br />
<button type="button" id="btngetlist" class="btn btn-outline-primary">Writer List</button>
<button type="button" id="btngetbyid" class="btn btn-outline-success">Get Writer</button>
<button type="button" id="btnaddwriter" class="btn btn-outline-info">Add Writer</button>
<button type="button" id="btndeletewriter" class="btn btn-outline-danger">Delete Writer</button>
<button type="button" id="btnupdatewriter" class="btn btn-outline-warning">Update Writer</button>
<br />
<br />
<div id="writerlist">
    Buraya yazarlar gelecek
</div>
<br />
<div id="writerget">

</div>
<br />
<div>
    <input type="text" id="writerid" placeholder="Please write WriterId" class="form-control" />
    <br />
</div>
<div>
    <input type="text" class="form-control" id="txtWriterid" placeholder="WriterId" />
   
    <input type="text" class="form-control" id="txtWriterName" placeholder="WriterName" />
 
   
</div>
<br />
<div>
    <input type="text" class="form-control" id="txtid" placeholder="Delete WriterId" />
</div>
<br />
<div>
    <input type="text" class="form-control" id="txtid1" placeholder="Update WriterId" />
    <input type="text" class="form-control" id="txtwritername1" placeholder="Update Writer Name" />

</div>

@*bu scriptin çalışması için scriptin bağlı olduğu layouta bağlı olan kısma kod eklemesi yaptık*@
@*adminlayoutta @await RenderSectionAsync komutunu kullandık*@

@section scripts{
    <script>

        $("#btngetlist").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList",
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    let tablehtml = "<table class=table table-bordered> <tr><th> WriterId </th> <th> Writer Name </th></tr>";
                    $.each(w, (index, value) => {
                        tablehtml += `<tr><td>${value.Id}</td><td>${value.Name}</td></tr>`
                    });
                    //Verilerin tabloya yansıtılması işlemi
                    tablehtml += "</table>";
                    $("#writerlist").html(tablehtml);
                }
            });
        });

        $("#btngetbyid").click(x => {
            let id = $("#writerid").val(); //Dışarıdan gönderdiğim id değerini aldık.
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: "/Admin/Writer/GetWriterByID/",
                data: { writerid: id },
                success: function (func) {
                    let w = jQuery.parseJSON(func);

                    let getvalue = `<table class=table table-bordered> <tr> <th>Writer Id </th> <th>Writer Name </th> </tr><tr><td>${w.Id}</td><td>${w.Name}</td></tr></table>`;
                    $("#writerget").html(getvalue);
                }
            })

        });

        $("#btnaddwriter").click(function () {
            let writer = {
                Id: $("#txtWriterid").val(),
                Name: $("#txtWriterName").val()
            };
            $.ajax({
                type: "post",
                url: "/Admin/Writer/AddWriter/",
                data: writer,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    alert("Adding an writer was successful.");
                }
            })
        })
        $("#btndeletewriter").click(x => {
            let id = $("#txtid").val(); //Dışarıdan girdiğim id değerini aldık.
            $.ajax({

                url: "/Admin/Writer/DeleteWriter/" + id,
                type: "post",
                dataType: "json",
                success: function (func) {
                    //let result = jQuery.parseJSON(func);
                    alert("Deleting was success.");
                }
            });

        });
        $("#btnupdatewriter").click(function () {
            let writer = {
                Id: $("#txtid1").val(),
                Name: $("#txtwritername1").val()
            };
            $.ajax({
                type: "post",
                url: "/Admin/Writer/UpdateWriter/",
                data: writer,
                success: function (funk) {
                    alert("Update was success.");
                }
            })
        })
    </script>

}